@model IEnumerable<Core_CodeFirst.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Post Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Blog Name or ID

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @*@Html.DisplayFor(mi => item.BlogId) |*@
                @Html.DisplayFor(mi => item.Blog.BlogName) 
                <a href="~/Blogs/Details/@item.BlogId">>></a>
                @*<b>@Html.DisplayFor(mi => item.virtualBlog.User.UserName)</b>*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
