@model IEnumerable<Core_CodeFirst.Models.Comic>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComicName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Maker.MakerId)*@
                @item.MakerId
                @{ 
                    if (item.Maker == null)
                    {

                    }
                    else
                    {
                        @item.Maker.UserName
                    }
                }
                

                @*@item.Maker.UserName*@

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
