@model IEnumerable<Core_CodeFirst.Models.Comic>

@{
    ViewData["Title"] = "LINQ Study";
}

<h2>List</h2>

找到資料: @Model.Count() 筆
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ComicId)</th>
            <th>
                @Html.DisplayNameFor(model => model.ComicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maker)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mi => item.ComicId)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComicName)
                </td>
                <td>
                     @if (item.Image != null)
                     {
                        <img src="~/images/@Html.DisplayFor(modelItem => item.Image)"
                             style="width:60px; border:solid; border-width:1px;border-radius:10px" />
                     }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Maker.MakerId)*@
                    @item.MakerId
                    @{
                        if (item.Maker != null)                        
                        {
                            if (item.Maker.Image != null)
                            {
                                if (item.Maker.Image != "")
                                {
                                    <img src="~/images/@item.Maker.Image"
                                         style="width:60px; border:solid; border-width:1px;border-radius:10px" />
                                }
                            }
                            @item.Maker.UserName
                        }
                    }
                </td>                
            </tr>
        }
    </tbody>
</table>
