@model Core_CodeFirst.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            格主 
            @*@Html.DisplayNameFor(model => model.User)*@
        </dt>
        <dd>

            @*::show more info of user*@
            @Html.DisplayFor(model => model.User.UserName)
            <a href="~/Users/Details/@Model.User.Id"> >> </a>

            @*@Html.DisplayFor(model => model.User.Id)*@


        </dd>
        <dt>發文數</dt>
        <dd>
            @if (Model.Posts != null)
            {
                @Model.Posts.Count()
                @*<a asp-controller="Posts" asp-action="index">>></a>*@
                <ul>
                    @foreach (var x in Model.Posts)
                    {
                        <li>
                            <a asp-controller="Posts"
                               asp-action="details"
                               target = "_blank"
                               asp-route-id="@x.PostId"> @x.Title </a>
                        </li>
                    }
                </ul>

            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
