@model IEnumerable<Core_CodeFirst.Models.Blog>

@{
    ViewData["Title"] = "Index";


    bool isAdmin = false;
    if(ViewData["IsAdmin"] == "YES")
    {
        isAdmin = true;
    }
}

<h2>Blogs Index</h2>

<h5 class="text-danger" id="bg">@TempData["action_msg"]</h5>


@if(isAdmin)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                布落主題@*@Html.DisplayNameFor(model => model.BlogName)*@
            </th>
            <th>
                網址 @*@Html.DisplayNameFor(model => model.Url)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.User)*@
                格主
            </th>
            <th>
                發文數
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.User.Id) :*@
                
                <a asp-controller="Users" asp-action="details" asp-route-id="@item.User.Id" >@Html.DisplayFor(modelItem => item.User.UserName)</a>

                @*::use user name is better*@
            </td>
            <td>
                @if (item.Posts != null)
                {
                    @item.Posts.Count()
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a>
                @if (isAdmin)
                {
                    <c>|</c> <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a>                 
                    <c>|</c> <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
                }

                
            </td>
        </tr>
}
    </tbody>
</table>
